/* BELOW 1184 PX */
@media (max-width: 74em) {
  .img-text-p {
    padding: 0 7.2rem;
  }
  .img-text {
    top: 60%;
  }
  .feature-text-container {
    padding: 1.6rem 6.2rem;
  }
}

/* BELOW 1024 PX */
@media (max-width: 64em) {
  .secondary-heading {
    font-size: 3.8rem;
  }
  .feature-text {
    font-size: 1.4rem;
  }
}
/* BELOW 880 PX */
@media (max-width: 55em) {
  .feature-text-container {
    padding: 1.6rem 4.2rem;
  }
  .secondary-heading {
    font-size: 3.2rem;
  }
  .feature-text {
    font-size: 1.2rem;
  }
  .img-text-p {
    padding: 0 4.4rem;
  }
  .img-text {
    gap: 1.6rem;
  }
  .testimonial-text {
    font-size: 1.2rem;
  }
  .customer-name {
    font-size: 1.4rem;
  }
  .btn {
    font-size: 1.2rem;
    padding: 1rem 2rem;
  }
  .nav-link:link,
  .nav-link:visited {
    font-size: 1.4rem;
  }
  .nav-links {
    gap: 2.8rem;
  }
}
/* BELOW 688 PX */
@media (max-width: 43.5em) {
  .main-heading{
    font-size: 2.4rem;
  }
  .hero-header{
    padding-top: 4rem;
  }
  .hero-section{
    height: 65vh;
  }
  .hero-header{
    gap: 3rem;
  }
  .main-heading{
    font-size: 3.2rem;
  }
  html {
    font-size: 60%;
  }
  .feature-text-container {
    gap: 2rem;
  }
  .secondary-heading {
    font-size: 2.2rem;
  }
  .testimonial-text {
    font-size: 1.2;
  }
  .grid--3-cols {
    gap: 3.6rem;
  }
  .img-text-p {
    padding: 0 2rem;
    font-size: 1.2rem;
  }
  .img-text {
    top: 56%;
    gap: 1.2rem;
  }
  .main-heading {
    font-size: 4rem;
  }
  .feature-text-container {
    gap: 1.6rem;
    padding: 1rem 3.2rem;
  }
  .feature-text {
    font-size: 1.1rem;
  }
  .feature-link:link,
  .feature-link:visited {
    font-size: 1.2rem;
  }
}
/* BELOW 590 PX */
@media (max-width: 36.875em) {
  .main-heading {
    font-size: 3.2rem;
  }
  .hero-header{
    top: 40%;
  }
  .mobile-nav-btn {
    display: block;
    z-index: 999;
  }
  .nav-header {
    background-color: #fff;
    position: absolute;
    top: 150%;
    right: 5%;
    left: 2%;
    width: 95%;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .nav-header::before{
    display: block;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 2.5rem solid #fff;
    border-left: 2.5rem solid transparent;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    position: absolute;
  }
  .nav-open .nav-header {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .nav-links {
    flex-direction: column;
  }
  .nav-link:link,
  .nav-link:visited {
    color: #5a636c;
    font-weight: 700;
    font-size: 1.4rem;
  }
  .btn{
    background-color: #fad400;
    font-size: 1.4rem;
    transition: none;
  }
  .btn:hover {
    background-color: #fad400;
    color: #23303e;
  }
}

/* BELOW 512 PX */
@media (max-width: 32em){
    .features-section {
        grid-template-columns: none;
        grid-template-rows: repeat(6, 1fr);
      }
      .img-container--1{
        grid-row: 1;
      }
      .feature-text-container{
        align-items: center;
        text-align: center;
        padding: 1.2rem 2.4rem;
        gap: 2.6rem;
      }
      .secondary-heading{
        font-size: 3.6rem;
      }
      .feature-text{
        font-size: 1.4rem;
        
      }
      .feature-link:link,
.feature-link:visited{
    font-size: 1.4rem;
}
.img-text{
    top: 62.5%;
}
.teritiary-heading{
    font-size: 2.4rem;
}
.img-text-p{
    font-size: 1.4rem;
}
.grid--3-cols{
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 6.2rem;
}
.testimonial-section{
    padding-top: 8.2rem;
    padding-bottom: 9.2rem;
}
.testimonial-section .container{
    padding: 0 3.2rem;
}
.title-header{
    margin-bottom: 7.2rem;
}
.testimonial-container{
    gap: 1.6rem;
}
.gallery-section{
    grid-template-columns: repeat(2, 1fr);
    justify-items: stretch;
    align-items: stretch;
}
.gallery-img{
    width: 100%;
}
}
/* BELOW 380 PX */
@media (max-width: 23.75em){
  .main-heading{
      font-size: 2.8rem;
  }
  .hero-header{
    gap: 2.8rem;
  }
}
/* BELOW 350 PX */
@media (max-width: 21.875em){
  
    .secondary-heading{
        font-size: 2.4rem;
      }
      .feature-text{
        font-size: 1.2rem;
        
      }
      .feature-text-container{
        gap: 1.6rem;
      }
      .feature-link:link,
.feature-link:visited{
    font-size: 1.4rem;
}
.img-text{
    top: 57%;
    gap: 0.8rem;
}
.teritiary-heading{
    font-size: 2rem;
}
.img-text-p{
    font-size: 1.2rem;
    padding: 0 2.4rem;
}
.title-header{
    font-size: 1.8rem;
    letter-spacing: 3px;
    margin-bottom: 6.2rem;
}
.testimonial-section .container{
    padding: 0 3rem;
}

}

/* BELOW 290 PX */
@media (max-width: 18.125em){
    .main-heading{
        font-size: 2.2rem;
        letter-spacing: 3.5px;
    }
    .hero-header{
      gap: 2rem;
    }
}